.login-btn {
  color: white;
  background-color: #ef4444;
  border: 2px dotted white;
  border-radius: 0.4rem;
  font-size: 1rem;
  width: 100%;
  max-width: 8rem;
  height: 4rem;
  max-height: 6rem;
  border: 2px dotted white;
}

.login-btn:hover {
  border: 2px solid white;
  cursor: pointer;
  background-color: #991b1b;
}

.login-btn-container {
  margin-top: 14rem;
  z-index: 10;
  width: 100%;
  filter: none;
  position: absolute;
}
.input-container {
  color: white;
  background-color: #44403c;
  border: 2px solid white;
  text-align: center;
  height: 99.45%;
}

.input-box {
  min-width: 0;
  width: 50%;
  height: 2rem;
}
