.login-btn {
  margin-right: 1rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  color: white;
  background-color: crimson;
  border: none;
  border-radius: 0.2rem;
}

.login-btn:hover {
  cursor: pointer;
  background-color: antiquewhite;
  color: black;
}

.login-btn:active {
  background-color: black;
  color: white;
}
